DATABASE_URL=postgres://postgres:postgres@localhost:5432/injurysub
APP_BASE_URL=http://localhost:3000
EMAIL_FROM_ADDRESS=noreply@example.com
RESEND_API_KEY=
ESPN_S2=
ESPN_SWID=
LEAGUE_ID=
SEASON_YEAR=2026

